
.cio-navbar {
    background-color: #5721cc;

    a {
        color: #ffffff;      
    }

    .nav-link {
        color: #ffffff;   

        &:hover {
            color: #d1cece;
        }
    }

    .navbar-toggler-icon {
        color: white;
    }
}
