
.customer-table {
    overflow-x: scroll;

    .table-data { min-width: 200px; }
}

.pagination {
    justify-content: center;
}

.page-item-color {
    color: #5721cc;

    &:hover {
        color: #9e7ee4;
    }
}

.page-item.active .page-link {
    background-color: #5721cc;
    border-color: #5721cc;
}

.page-link:focus {
    color: #5721cc;
}
